body {
    margin-top: 0px;
    background-color: var(--bg);
}

* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.non-scrollable-body {
    overflow: hidden;
}

.gallery-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.gallery-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.gallery-element {
    position: relative;
    border-radius: 5%;
    height: fit-content;
}

#add-button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 10vh;
}

.add-button {
    margin-right: 1em;
    background-color: var(--button-inactive);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 5vh;
    width: 5vh;
}

#add-button-icon {
    height: 90%;
    width: 90%;
}

.clickable-div-button {
    cursor: pointer;
}

.clickable-div-button:hover {
    background-color: var(--button-active);
}

.edit-trivia-button-div {
    position: absolute;
    z-index: 1;
    right: 5px;
    top: 5px;
    height: 4vh;
    width: 4vh;
    border-radius: 50%;
    overflow: hidden;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: var(--button-inactive);
}

.edit-trivia-button {
    height: 50%;
    object-fit: contain;
}

.gallery-image {
    width: 23vw;
    height: auto;
    border-radius: inherit;
    cursor: pointer;
}

.gallery-image:hover {
    animation-name: dim;
    animation-duration: 500ms;
    filter: brightness(70%);
}

.gallery-element:hover .edit-trivia-button-div {
    display: flex;
}

@keyframes dim {
    form {
        filter: brightness(100%);
    }

    to {
        filter: brightness(70%);
    }
}

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.input-form-container {
    background-color: var(--accent-50);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    height: 40%;
    padding: 10vh 5vh 5vh;
    border: 0px solid;
    border-radius: 1em;
}

.entry-trivia-field {
    /* margin-top: 5vh; */
    border: 0px;
    border-radius: 10px;
    font-size: 1.3em;
    padding: 10px;
}

.bottom-button-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.arrow-div {
    height: 5vh;
    background-color: var(--button-inactive);
    width: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
    border-radius: 50%;
}

.right-arrow {
    /* margin-right: 5vh; */
}

.left-arrow {
    /* margin-left: 5vh; */
}

.disabled-div-button {
    opacity: 0.2;
}

.disabled-div-button {
    pointer-events: none;
}

.svg-icon {
    height: 50%;
    width: 50%;
}

.flipped-svg-icon {
    transform: scaleX(-1);
}

.question-input-form {
    height: 50%;
}

.question-input {
    font-size: 1.2em;
    height: 3vh;
}

.trivia-option-label {
    display: flex;
    justify-content: space-between;
    padding: 0.8em;
    border: 1px solid black;
    width: 90%;
    border-radius: 250px;
}

.trivia-option-button {
    margin: 0px;
    margin-left: 5px;
}

#trivia-submit-button {
    width: 95%;
    height: 3em;
    border-radius: 250px;
}